body
{
	background-color:#EEEEEE;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.introback {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-image: url('../img/stm-render_web.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.intro {
	position: relative;
	padding-left: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.intro h1 {
	color: #EEEEEE;
	display: block;
    font: bold 105px/45px Roboto, Sans-Serif;
    letter-spacing: -1px;
    padding-top: 40px;
}

.intro h2 {
	color: #EEEEEE;
	font: bold 45px/25px Roboto, Sans-Serif;
    letter-spacing: -1px;
	display: inline-block;
	padding-right: 20px;
	margin-top: -1px;
}

.intro a {
	margin: 0px;
	color: #EEEEEE;
	text-decoration: none;
}


a.glow,a.glow:hover ,a.glow:focus{
    text-decoration: none;
    color: #EEEEEE;
    text-shadow: none;
    -webkit-transition: 250ms linear 0s;
    -moz-transition: 250ms linear 0s;
    -o-transition: 250ms linear 0s;
    transition: 250ms linear 0s;
    outline: 0 none;
}

a.glow:hover, a.glow:focus {
    color: #AEC5E1;
}

/* Header */

#header {
	position: relative;
	display: block;
	width: 1100px;
	height: 0px;
	/*z-index: -10;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px;
	}

#header h1 {
	position: absolute;
	left: -50px;
	color: #2e4d77;
    font: bold 50px/45px Roboto, Sans-Serif;
    letter-spacing: -1px;
}

#header ul {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	color: #2e4d77;
    font:  45px Roboto, Sans-Serif;
    letter-spacing: -1px;
	list-style-type: none;
	z-index: 10;
	border-bottom: 5px solid #2e4d77;
}


#header li {
	display:inline-block;
	padding-right: 40px;
	padding-left: 40px;

}

#header a {
	margin: 0px;
	display: block;
}


/* Link Stuff */



.wrapper {
	position: relative;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	z-index: -10;
}

.wrapper p	{
	padding-top: 120px;
	color:#2e4d77;
	text-align: justify;
	font-size: 18px;
	font-family:'Source Sans Pro', sans-serif;
}

#physim {
	width: 960;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#physim img {
	width: 300px;
	display: inline;
	padding-left: 15px;
	z-index:-1;
}


#physim a:hover {
    -webkit-transition: 250ms linear 0s;
    -moz-transition: 250ms linear 0s;
    -o-transition: 250ms linear 0s;
    transition: 250ms linear 0s;
	opacity: 1;
}

#physim a {
	width: 300;
	height: 300;
	z-index: 1;
	opacity: 0.65;
}



#nbse2:target ~ #physim #nbse2-im ,
#nbse2s:target ~ #physim #nbse2s-im,
#nafeas:target ~ #physim #nafeas-im {
	opacity: 1;
}

.physblurb {
	margin-right:auto;
	margin-left:auto;
	position:relative;
	opacity: 0;
}


.physblurb:target {
	top: 300px;
	width: 960px;
    -webkit-transition: 250ms linear 0s;
    -moz-transition: 250ms linear 0s;
    -o-transition: 250ms linear 0s;
    transition: 250ms linear 0s;
	opacity: 1;
}

.physblurb p {
	position: absolute;
	padding-top: 10px;
	color:#2e4d77;
	text-align: justify;
	font-size: 16px;
	font-family:'Source Sans Pro', sans-serif;
	float:left;
}

.physblurb img {
	width: 150px;
	float: right;
	padding-left: 20px;
}











